# Ignorar carpetas temporales de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignorar compilados de Java
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos dinámicos (usuarios, mensajes, bases de datos)
usuarios.txt
mensajes.txt
*.db

